/* Variables */
html {
  position: relative;
  min-height: 100%;
}
body {
  background: #ffffff;
  color: #525252;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  margin-bottom: 80px;
}
.container {
  margin: 0 auto;
  max-width: 960px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin-top: 0;
}
.btn-primary {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #f4645f;
}
.btn-primary:active {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  color: #f4645f;
}
.btn-primary:focus,
.btn-primary:hover {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  color: #f4645f;
}
.banner {
  background: #f4645f;
  background-image: linear-gradient(to top right, #f3bd92, #f4645f);
  color: #ffffff;
  text-align: center;
}
.banner .logo {
  min-height: 255px;
  padding: 60px 0;
}
.banner .logo h1 {
  font-size: 72px;
  font-weight: 200;
  letter-spacing: 5px;
  margin: 0 0 20px 0;
  text-transform: uppercase;
  text-shadow: 0 1px #f4645f, -1px 0 #f3bd92, -1px 2px #f4645f, -2px 1px #f3bd92, -2px 3px #f4645f, -3px 2px #f3bd92, -3px 4px #f4645f, -4px 3px #f3bd92, -4px 5px #f4645f, -5px 4px #f3bd92, -5px 6px #f4645f, -6px 5px #f3bd92, -6px 7px #f4645f, -7px 6px #f3bd92, -7px 8px #f4645f, -8px 7px #f3bd92;
}
.banner .logo h3 {
  color: #f0f2f1;
  font-weight: 400;
  margin: 0;
}
.banner-inside {
  background: #f4645f;
  background-image: linear-gradient(to top right, #f3bd92, #f4645f);
  color: #ffffff;
  text-align: center;
}
.banner-inside .logo {
  padding: 20px 0 10px;
}
.banner-inside .logo h1 {
  font-size: 32px;
  font-weight: 200;
  letter-spacing: 5px;
  margin: 10px 0 8px 0;
  text-transform: uppercase;
  text-shadow: 0 1px #f4645f, -1px 0 #f3bd92, -1px 2px #f4645f, -2px 1px #f3bd92, -2px 3px #f4645f, -3px 2px #f3bd92, -3px 4px #f4645f, -4px 3px #f3bd92, -4px 5px #f4645f, -5px 4px #f3bd92;
}
.banner-inside .logo h1 a,
.banner-inside .logo h1 a:hover,
.banner-inside .logo h1 a:visited,
.banner-inside .logo h1 a:active,
.banner-inside .logo h1 a:focus {
  color: #ffffff !important;
  text-decoration: none !important;
}
.banner-inside .logo h3 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 20px;
}
.btn,
.btn-primary,
button {
  background: #f4645f;
  background-image: linear-gradient(to top right, #f7928f, #f4645f);
  box-shadow: 1px 1px 1px #aeaeae;
  border: 0;
  color: #ffffff;
}
.btn:hover,
.btn-primary:hover,
button:hover,
.btn:visited,
.btn-primary:visited,
button:visited,
.btn:active,
.btn-primary:active,
button:active,
.btn:focus,
.btn-primary:focus,
button:focus {
  background: #f4645f !important;
  color: #ffffff !important;
}
.stripe-button-el {
  background-image: linear-gradient(to top right, #f7928f, #f4645f) !important;
  border: 0 !importnat;
}
.stripe-button-el span {
  background: #f4645f !important;
  background-image: linear-gradient(to top right, #f7928f, #f4645f) !important;
  box-shadow: 1px 1px 1px #aeaeae !important;
  border: 0 !important;
  color: #ffffff !important;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 16px !important;
}
.stripe-button-el span:hover,
.stripe-button-el span:visited,
.stripe-button-el span:active,
.stripe-button-el span:focus {
  background: #f4645f !important;
  color: #ffffff !important;
}
.content {
  background: #ffffff;
  padding-top: 40px;
  padding-bottom: 40px;
}
.content h2.page-title {
  color: #f4645f;
}
.content .sidebar {
  background: #f3bd92;
  border-radius: 8px;
  color: #ffffff;
  padding-top: 14px;
  padding-bottom: 14px;
}
.content .pricing {
  background: transparent;
  padding: 20px 0;
}
.content .pricing .panel {
  background: #f8f9f9;
}
.content .pricing .comingsoon {
  background: #525252;
}
.content .pricing .comingsoon h1 {
  color: #ffffff;
  margin: 70px 0;
  text-align: center;
}
.how {
  background: #ffffff;
  padding: 60px 0;
}
.how h2 {
  text-align: center;
  margin-bottom: 40px;
}
.how .row {
  text-align: center;
}
.how .row i {
  color: #f4645f;
}
.how .row .pull {
  max-width: 32px;
  height: auto;
  margin-bottom: 6px;
}
.how .row h3 {
  color: #f4645f;
}
.pricing {
  background: #f0f2f1;
  padding: 60px 0;
  text-align: center;
}
.pricing h2 {
  margin-bottom: 30px;
}
.pricing h3 {
  background: #f4645f;
  background-image: linear-gradient(to top right, #f7928f, #f4645f);
  border: 1px solid #ffffff;
  border-radius: 150px;
  box-shadow: 2px 2px 2px #aeaeae;
  color: #ffffff;
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 20px;
  padding: 20px 19px;
  text-align: center;
}
.pricing .panel {
  box-shadow: 1px 1px 1px #aeaeae;
  padding: 34px 10px 14px;
  text-align: left;
  margin-top: -45px;
}
.pricing .panel .price-tag {
  background: #fef7f2;
  border: 1px solid #f3bd92;
  border-radius: 4px;
  color: #f4645f;
  display: block;
  padding: 8px;
  text-align: center;
  margin: 18px auto 0;
}
.pricing .panel p:last-child {
  margin-bottom: 0;
}
.pricing .comingsoon {
  background: #525252;
}
.pricing .comingsoon h1 {
  color: #ffffff;
  margin: 70px 0;
  text-align: center;
}
.pricing ul.sign-in {
  margin: 20px 0 0;
}
.pricing ul.sign-in li {
  margin: 0 20px 20px;
}
.testimonials {
  background: #ffffff;
  padding: 60px 0;
  text-align: center;
  position: relative;
}
.testimonials h2 {
  color: #f4645f;
}
.testimonials blockquote {
  font-size: 18px;
  font-weight: 400;
}
.testimonials cite {
  color: #f4645f;
  font-size: 16px;
  font-style: italic;
}
.testimonials .carousel-indicators li {
  border: 1px solid #f4645f !important;
}
.shrug {
  color: #f4645f;
  font-size: 80px;
  text-align: center;
}
.credits {
  background: #525252;
  bottom: 0;
  color: #ffffff;
  font-size: 14px;
  height: 80px;
  padding: 10px 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
.credits a:hover {
  color: #ffffff;
}
.credits .social-icons ul {
  margin: 0;
}
.credits .social-icons ul li {
  margin: 0 10px;
  vertical-align: middle;
}
@media (min-width: 768px) {
  body {
    margin-bottom: 50px;
  }
  .credits {
    text-align: left;
    height: 50px;
  }
  .credits p {
    margin: 0;
  }
  .credits .social-icons {
    text-align: right;
  }
}
