/* Variables */
@grey: #f0f2f1;
@white: #fff;
@primary: #f4645f;
@secondary: #f3bd92;
@text-grey: #aeaeae;
@text: #525252;
@black: #525252;
@green: #57ac18;

html {
    position: relative;
    min-height: 100%;
}

body {
    background: @white;
    color: @text;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    margin-bottom: 80px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin-top: 0;
}

.btn-primary {
        background-color: @white;
        border-color: @white;
        color: @primary;

        &:active {
            background-color: darken(@white, 5%);
            border-color: darken(@white, 5%);
            color: @primary;
        }

        &:focus, &:hover {
            background-color: darken(@white, 5%);
            border-color: darken(@white, 5%);
            color: @primary;
        }
}

.banner {
    background: @primary;
    background-image:
    linear-gradient(
      to top right,
      @secondary, @primary
    );
    color: @white;
    text-align: center;

    .logo {
        min-height: 255px;
        padding: 60px 0;

        h1 {
            font-size: 72px;
            font-weight: 200;
            letter-spacing: 5px;
            margin: 0 0 20px 0;
            text-transform: uppercase;
            text-shadow:
                0 1px @primary,
                -1px 0 @secondary,
                -1px 2px @primary,
                -2px 1px @secondary,
                -2px 3px @primary,
                -3px 2px @secondary,
                -3px 4px @primary,
                -4px 3px @secondary,
                -4px 5px @primary,
                -5px 4px @secondary,
                -5px 6px @primary,
                -6px 5px @secondary,
                -6px 7px @primary,
                -7px 6px @secondary,
                -7px 8px @primary,
                -8px 7px @secondary;
        }

        h3 {
            color: @grey;
            font-weight: 400;
            margin: 0;
        }
    }
}

.banner-inside {
    background: @primary;
    background-image:
    linear-gradient(
      to top right,
      @secondary, @primary
    );
    color: @white;
    text-align: center;

    .logo {
        padding: 20px 0 10px;

        h1 {
            font-size: 32px;
            font-weight: 200;
            letter-spacing: 5px;
            margin: 10px 0 8px 0;
            text-transform: uppercase;
            text-shadow:
                0 1px @primary,
                -1px 0 @secondary,
                -1px 2px @primary,
                -2px 1px @secondary,
                -2px 3px @primary,
                -3px 2px @secondary,
                -3px 4px @primary,
                -4px 3px @secondary,
                -4px 5px @primary,
                -5px 4px @secondary;

                a, a:hover, a:visited, a:active, a:focus {
                    color: @white !important;
                    text-decoration: none !important;
                }
        }

        h3 {
            color: @white;
            font-size: 16px;
            font-weight: 400;
            margin: 0 0 20px;
        }
    }
}

.btn, .btn-primary, button {
    background: @primary;
    background-image:
    linear-gradient(
      to top right,
      lighten(@primary, 10%), @primary
    );
    box-shadow: 1px 1px 1px @text-grey;
    border: 0;
    color: @white;

    &:hover, &:visited, &:active, &:focus {
        background: @primary !important;
        color: @white !important;
    }
}

.stripe-button-el {
    background-image:
    linear-gradient(
        to top right,
        lighten(@primary, 10%), @primary
        ) !important;
    border: 0 !importnat;

    span {
        background: @primary !important;
        background-image:
        linear-gradient(
            to top right,
            lighten(@primary, 10%), @primary
            ) !important;
        box-shadow: 1px 1px 1px @text-grey !important;
        border: 0 !important;
        color: @white !important;
        font-family: 'Source Sans Pro', sans-serif !important;
        font-size: 16px !important;

        &:hover, &:visited, &:active, &:focus {
            background: @primary !important;
            color: @white !important;
        }
    }
}

.content {
    background: @white;
    padding-top: 40px;
    padding-bottom: 40px;

    h2.page-title {
        color: @primary;
    }

    .sidebar {
        background: @secondary;
        border-radius: 8px;
        color: @white;
        padding-top: 14px;
        padding-bottom: 14px;
    }

    .pricing {
        background: transparent;
        padding: 20px 0;

        .panel {
            background: lighten(@grey, 3%);
        }

        .comingsoon {
            background: @black;

            h1 {
                color: @white;
                margin: 70px 0;
                text-align: center;
            }
        }
    }
}

.how {
    background: @white;
    padding: 60px 0;

    h2 {
        text-align: center;
        margin-bottom: 40px;
    }

    .row {
        text-align: center;

        i {
            color: @primary;
        }

        .pull {
            max-width: 32px;
            height: auto;
            margin-bottom: 6px;
        }

        h3 {
            color: @primary;
        }
    }
}

.pricing {
    background: @grey;
    padding: 60px 0;
    text-align: center;

    h2 {
        margin-bottom: 30px;
    }

    h3 {
        background: @primary;
        background-image:
        linear-gradient(
          to top right,
          lighten(@primary, 10%), @primary
        );
        border: 1px solid @white;
        border-radius: 150px;
        box-shadow: 2px 2px 2px @text-grey;
        color: @white;
        display: inline-block;
        font-size: 24px;
        font-weight: 400;
        margin: 0 0 20px;
        padding: 20px 19px;
        text-align: center;
    }

    .panel {
        box-shadow: 1px 1px 1px @text-grey;
        padding: 34px 10px 14px;
        text-align: left;
        margin-top: -45px;

        .price-tag {
            background: lighten(@secondary, 21%);;
            border: 1px solid @secondary;
            border-radius: 4px;
            color: @primary;
            display: block;
            padding: 8px;
            text-align: center;
            margin: 18px auto 0;
        }

        p:last-child {
            margin-bottom: 0;
        }
    }

    .comingsoon {
        background: @black;

        h1 {
            color: @white;
            margin: 70px 0;
            text-align: center;
        }
    }

    ul.sign-in {
        margin: 20px 0 0;

        li {
            margin: 0 20px 20px;
        }
    }
}

.testimonials {
    background: @white;
    padding: 60px 0;
    text-align: center;
    position: relative;

    h2 {
        color: @primary;
    }

    blockquote {
        font-size: 18px;
        font-weight: 400;
    }

    cite {
        color: @primary;
        font-size: 16px;
        font-style: italic;
    }

    .carousel-indicators {
        li {
            border: 1px solid @primary !important;
        }
    }
}

.shrug {
    color: @primary;
    font-size: 80px;
    text-align: center;
}

.credits {
    background: @text;
    bottom: 0;
    color: @white;
    font-size: 14px;
    height: 80px;
    padding: 10px 0;
    position: absolute;
    text-align: center;
    width: 100%;

    a:hover {
        color: @white;
    }

    .social-icons {
        ul {
            margin: 0;

            li {
                margin: 0 10px;
                vertical-align: middle;
            }
        }
    }
}

@media (min-width: 768px) {
    body {
        margin-bottom: 50px;
    }

    .credits {
        text-align: left;
        height: 50px;

        p {
            margin: 0;
        }

        .social-icons {
            text-align: right;
        }
    }
}
